<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
                    <div class="row">
                        <div class="heading-content col-md-12">
                            <p><a href="/">HOME</a> / <em><a href="{{ page.href-bussiness }}">{{ page.bussiness }}</a></em> / <a href="{{ page.url }}"><em>{{ page.title }}</em></a></p>
                            <h2>{{ page.item }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>