<div class="vs-float-button">
    <div class="vs-float-whatsapp middle-center z-depth-3 vs-bg-whatsapp on-desktop">
        <a href="{{ site.whatsapp-float-desktop }}" class="text-white on-desktop" target="_blank" rel="noopener">
            <img src="/assets/images/whatsapp.png" width="56" height="56" layout="fixed" alt="Whatsapp Button {{ page.title }}" title="Whatsapp Button {{ page.title }}"></img>
        </a>
    </div>
    <div class="vs-float-whatsapp middle-center vs-bg-whatsapp on-phone">
        <a href="{{ site.whatsapp-float-phone }}" class="text-white">
            <img src="/assets/images/whatsapp.png" width="56" height="56" layout="fixed" alt="Whatsapp Button {{ page.title }}" title="Whatsapp Button {{ page.title }}"></img>
        </a>
    </div>
</div>