<script src="/assets/js/jquery-1.11.0.min.js"></script>
<!-- Slider Pro Js -->
<script src="/assets/js/sliderpro.min.js"></script>
<!-- Slick Slider Js -->
<script src="/assets/js/slick.js"></script>
<!-- Owl Carousel Js -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Boostrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Boostrap Js -->
<script src="/assets/js/wow.animation.js"></script>
<!-- Custom Js -->
<script src="/assets/js/custom.js"></script>
<script>
// Check that service workers are registered
if ('serviceWorker' in navigator) {
    // Use the window load event to keep the page load performant
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js');
    });
}
</script>