<div class="preloader">
    <div class="preloader-bounce">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<header class="site-header wow fadeIn" data-wow-duration="1s">
    <div id="main-header" class="main-header">
        <div class="container clearfix">
            <a href="/">
                <div class="logo">
                </div>
            </a>
            <div id='cssmenu'>
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/sewa-mobil/'>Sewa Mobil</a>
                    <li><a href='/paket-wisata/'>Paket Wisata</a>
                    <li><a href='/blog/'>Blog</a>
                    <li><a href='/about-us/'>About Us</a></li>
                    <li><a href='/contact-us/'>Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>