<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie ie9" lang="{{ site.locale }}">
<![endif]-->
<html lang="{{ site.locale }}">

<head>
    {% include metadata.html %}
</head>

<body>
    {% include header.html %}
    {% include slider.html %}
    {% include slider-features.html %}
    {% include how-to-order.html %}
    {% include call-to-action.html %}
    {% include product-1.html %}
    {% include product-2.html %}
    {% include testimonials.html %}
    {% include blog.html %}
    {% include footer.html %}
    {% include footer-js.html %}
</body>

</html>